<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Product </title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.3/css/bootstrap.min.css" />

    <style>
        .card-img-top{width:200px;margin:0 auto;}
        img{width:150px}
    </style>
</head>
<body>

    <div id="app">
        <div class="container">
            <div class="row py-3">
                <div class="col-md-6">
                    <h2>產品列表</h2>
                    <table class="table table-hover mt-4">
                        <thead>
                            <tr>
                                <th width="150">產品名稱</th>
                                <th width="120">
                                    原價
                                </th>
                                <th width="120">
                                    售價
                                </th>
                                <th width="150">
                                    是否啟用
                                </th>
                                <th width="120">
                                    查看細節
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- v-for 將 products 倒入 item 並循序丟入 -->
                            <tr v-for="item in products">
                                <td width="150">
                                    {{item.title}}
                                </td>
                                <td width="120">
                                    {{item.origin_price}}
                                </td>
                                <td width="120">
                                    {{item.price}}
                                </td>
                                <td width="150">
                                    <!-- v-if / v-else 判斷，是否啟用 -->
                                    <span v-if="is_enabled = 1" class="text-success">啟用</span>
                                    <span v-else>未啟用</span>
                                </td>
                                <td width="120">
                                    <!-- v-on 監聽 click 行為 -->
                                    <!-- 將將當前值賦予到 temp變數中  -->
                                    <butto v-on:click="viewProduct(item)" type="button" class="btn btn-primary">查看細節</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <p>目前有 <span> {{products.length}} </span> 項產品</p>
                </div>
    
                <div class="col-md-6">
                    <h2>單一產品細節</h2>
                    <!-- 當 temp.title 有資料的時候，顯示內容 -->
                    <template v-if="temp.title">
                        <div class="card mb-3">
                            <!-- v-bind:屬性 綁定資料 -->
                            <img v-bind:src="temp.imageUrl" class="card-img-top primary-image" v-bind:alt="title">
                            <div class="card-body">
                                <h5 class="card-title">
                                   {{temp.title}}
                                    <span class="badge bg-primary ms-2">{{temp.category}}</span>
                                </h5>
                                <p class="card-text">商品描述：{{temp.description}}</p>
                                <p class="card-text">商品內容：{{temp.content}}</p>
                                <div class="d-flex">
                                    <p class="card-text me-2">{{temp.price}}</p>
                                    <p class="card-text text-secondary"><del>{{temp.origin_price}}</del></p>元 / {{temp.unit}}
                                </div>
                            </div>
                        </div>
                        <!-- 將 temp.imagesUrl 倒入 (image)-->
                        <template v-for="image in temp.imagesUrl">
                            <!-- 有 image 才顯示 -->
                            <img v-if="image" v-bind:src="image" class="images m-2">
                        </template>
                    </template>
                    <!-- 當 temp 沒有資料的時候，顯示內容 -->
                    <p v-else class="text-secondary">請選擇一個商品查看</p>
                </div>
            </div>
        </div>
        <!-- 查看 products 資料 -->
        <!-- {{products}} -->
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="js/product.js" type="module"></script>
    
</body>
</html>